In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import warnings

In [3]:
!python --version

Python 3.12.7

In [5]:
vix_data = yf.download('^VIX', period='32y', interval='1d')
sp500_data = yf.download('^GSPC', period='32y', interval='1d')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [7]:
vix_pc = vix_data[[('Close', '^VIX')]].pct_change().dropna() * 100
vix_pc[:5]

Price          Close
Ticker          ^VIX
Date
1993-02-02 -0.648823
1993-02-03 -1.061225
1993-02-04  1.402641
1993-02-05  4.963382
1993-02-08  2.480625

In [9]:
sp_pc = sp500_data[[('Close', '^GSPC')]].pct_change().dropna() * 100
sp_pc[:5]

Price          Close
Ticker         ^GSPC
Date
1993-02-02  0.006779
1993-02-03  1.050734
1993-02-04  0.527725
1993-02-05 -0.140138
1993-02-08 -0.240569

In [11]:
merged_pc = pd.merge(vix_pc.abs(), sp_pc.abs(), left_index=True, right_index=True, suffixes=('_vix', '_sp500'))
merged_pc['VIX_to_SP500_ratio'] = merged_pc['Close', '^VIX'] / merged_pc['Close', '^GSPC']
merged_pc = merged_pc.replace([np.inf, -np.inf], np.nan).dropna()
print("Percent Change and move magnitude").
merged_pc[:5]

Price          Close           VIX_to_SP500_ratio
Ticker          ^VIX     ^GSPC
Date
1993-02-02  0.648823  0.006779          95.709668
1993-02-03  1.061225  1.050734           1.009985
1993-02-04  1.402641  0.527725           2.657902
1993-02-05  4.963382  0.140138          35.417790
1993-02-08  2.480625  0.240569          10.311490

In [21]:
median_move = merged_pc['VIX_to_SP500_ratio'].median()
average_move = merged_pc['VIX_to_SP500_ratio'].mean()
print(f"Move per 1% in S&P500:\nMedian: {median_move:.3f}\nMean: {average_move:.3f}")

Move per 1% in S&P500:
Median: 6.808
Mean: 26.489

In [15]:
vix_sorted = vix_pc.sort_values(by=[('Close', '^VIX')], ascending=False)
vix_sorted['Close'] = (vix_sorted[('Close', '^VIX')]).round(3)
vix_sorted.columns = ['% Change']
print("Top 32 VIX % Changes in all 32 Years of VIX")
vix_sorted[:32]

Top 32 VIX % Changes in all 32 Years of VIX

            % Change
Date
2018-02-05   115.598
2024-12-18    74.039
2024-08-05    64.900
2007-02-27    64.215
2021-01-27    61.642
2021-11-26    54.037
2011-08-08    50.000
2016-06-24    49.333
2020-06-11    47.951
2020-02-24    46.546
2015-08-21    46.447
2017-05-17    46.385
2015-08-24    45.344
2017-08-10    44.374
2018-10-10    43.950
2013-04-15    43.201
2020-03-16    42.988
2020-02-27    42.090
1994-02-04    41.860
2020-03-12    40.019
2016-09-09    39.888
2019-08-05    39.637
2024-09-03    38.133
2011-08-04    35.415
2021-02-25    35.380
2011-08-18    35.117
2008-09-29    34.485
2015-06-29    34.451
1997-10-27    34.312
2013-02-25    34.016
2017-08-17    32.453
2014-07-17    32.182